* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    background-color: #330033;
}

#debug {
    position: relative;
    font-family: monospace;
    font-size: 20px;
    line-height: 100%;
}

#debug canvas,
#overlay {
    position: absolute;
}

#canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

#debug {
    background-color: #0000FF1F;
    color: white;
    border: 1px solid #00CCFF;
    width: 400px;
}

#footer {
    position: fixed;
    left: 40px;
    bottom: 0px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    color: white;
    font-size: 20px;
    text-align: left;
}

#footer,
a {
    color: white;
    text-decoration: none;
}